<%= link_to "Back", events_path, class: "back-link"%>
<div class="row justify-content-center ">
  <h3>Artists</h3>
</div>

<p><%= @event.edition %></p>

<table>
  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.nationality %></td>
        <td><%= artist.delegation %></td>
      </tr>
    <% end %>
  </tbody>
</table>