<div id="works">
<%= link_to "Voltar", event_artists_path, class: "back-link"%>
<br>

<div class="mx-auto" style="width: 900px;">
  <div class="d-flex justify-content-center">
    <strong><%= @artist.name %> na <%= @event.edition %></strong>
  </div>
</div>

<br>
<p>Nacionalidade: <%= @artist.nationality %></p>
<br>
<p>Obras expostas nessa edição:</p>
<div class="mx-auto" style="width: 900px;">
  <div class="d-flex justify-content-center">
  
    <% @work.each do |work| %>
     <p>Título: <%= work.title %></p>
      <p>Data: <%= work.date %></p>
      <p>Tamanho: <%= work.size %></p>
      <p>Suporte: <%= work.support %></p>
      <p>Técnica <%= work.technique %></p>
      <% end %>

  </div>
</div>

<br>
<p>Circulação</p>

</div>


