<h1> </h1>

<div class="row justify-content-center ">
  <%= link_to "Biennials", pages_map_path, class: "btn btn-ghost" %>
  <%= link_to "Exhibitions", "#", class: "btn btn-ghost" %>
  <%= link_to "Halls", "#", class: "btn btn-ghost" %>
  <%= link_to "Events", "#", class: "btn btn-ghost" %>
  <%= link_to "Fairs", "#", class: "btn btn-ghost" %>
</div>
