<h1> </h1>

<div class="row justify-content-center ">
  <%= link_to "Bienais", pages_map_path, class: "btn btn-ghost" %>
  <%= link_to "Exposições", "#", class: "btn btn-ghost" %>
  <%= link_to "Salões", "#", class: "btn btn-ghost" %>
  <%= link_to "Eventos", "#", class: "btn btn-ghost" %>
  <%= link_to "Feiras", "#", class: "btn btn-ghost" %>
</div>
